// app global css in SCSS form

.default-shadow {
  -webkit-box-shadow: -1px -2px 11px -3px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: -1px -2px 11px -3px rgba(0, 0, 0, 0.30);
  box-shadow: -1px -2px 11px -3px rgba(0, 0, 0, 0.30);
}
